:root {
  --font-family-cookie: 'Cookie';
  --dark-brown-color: #412D22;
  --light-brown-color: #E39A3B;
  --cream-color: #F1CC9D;
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--dark-brown-color);
}

body::-webkit-scrollbar {
  width: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-weight: 400;
  color: var(--dark-brown-color);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 35px 20px 0px 20px;
}

.header {
  background-image: url(../img/bake-cup.jpg);
  width: 100%;
  height: 100vh;
  min-height: 520px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-left: 0px;
  margin-bottom: 40px;
  overflow: hidden;
  transition: 0.5s;
}

.header-menu {
  position: relative;
}

.header-menu__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: flex-end;
}

.header__logo {
  width: 112px;
  height: 57px;
}

.header-menu__nav-mobile {
  display: none;
}

.header-menu__nav {
  display: flex;
  margin-left: auto;
}

.header-menu__list {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 34px;
  justify-content: start;
  align-items: flex-start;
}

.nav__item {
  display: flex;
}

.header-menu__link {
  text-decoration: none;
  color: var(--dark-brown-color);
  font-size: 16px;
}

.header-menu__link:hover {
  text-decoration: none;
  color: var(--light-brown-color);
}

.header-menu__nav-desktop .header-menu__list {
  position: relative;
  padding-right: 30px;
  padding-right: 90px;
  border-right-width: 40px;
  align-items: flex-end;
  margin-right: 30px;
}

.header-menu__basket-img {
  position: fixed;
  top: 55px;
  right: 70px;
  width: 45px;
  transition: transform 0.4s;
  cursor: pointer;
}

.header-menu__basket-img:hover {
  color: var(--light-brown-color);
  transform: scale(1.4);
}

.shopping-basket {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: rgb(248, 248, 248);
  border: 1px solid var(--cream-color);
  border-radius: 20px;
  box-shadow: 0 8px 40px rgb(0 0 0 / 32%);
  z-index: 90;
  box-sizing: border-box;
  transition: transform 400ms;
  max-width: 1150px;
}

.shopping-basket__menu {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

.shopping-basket__header {
  display: flex;
  position: relative;
  border-bottom: 0.5px solid var( --dark-brown-color);
  padding-bottom: 9px;
}

.shopping-basket__header h1 {
  margin-right: 40px;
}

.shopping-basket__content::-webkit-scrollbar {
  width: 0;
}

.shopping-basket__content {
  height: 62vh;
  overflow: auto;
  bottom: 0px;
}

.empty-page__inf{
  left: 0;
  margin-top: -90px;
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
}

.empty-page__text{
  font-size: 30px;
  font-weight: 600;
}

.shopping-basket__content .block {
  margin-top: 60px;
}

.shopping-basket__content .block .info__icon,
.shopping-basket__content .block .info__icon-check,
.shopping-basket__content .block .breadcrumbs__element,
.shopping-basket__content .block .info__title {
  display: none;
}

.shopping-basket__content .block--position-left .info {
  order: -1;
}

.shopping-basket__content .breadcrumbs__img {
  text-align: center;
  width: 65%;
}

.shopping-basket__content .block .breadcrumbs {
  display: block;
  background-color: inherit;
  text-align: center;
}

.shopping-basket__content .block .info__subtitle {
  color: var(--light-brown-color);
}

.shopping-basket__footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.counter {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.counter__content {
  height: 400px;
  overflow: auto;
}

.bakery .block .info__counter {
  display: none;
}

.counter__calc {
  width: 40px;
  text-align: center;
}

.counter__box-wrap .counter__calc {
  border: 0px;
  background-color: inherit;
}

.counter__minus-icon,
.counter__plus-icon {
  width: 30px;
  height: 30px;
  z-index: 20;
}

.counter__box-wrap input {
  height: 100%;
}

.counter__total-price {
  font-weight: bold;
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.total-price-val {
  position: absolute;
  right: 90px;
}

.shopping-basket__to-buy-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.shopping-basket__button-buy {
  border: 0px solid;
  background-color: var(--light-brown-color);
  padding: 15px 100px;
  font-size: 25px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  color: #fff;
  max-width: 150px;
  text-decoration: none;
}

.btn {
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
  width: 30px;
  height: 20px;
  z-index: 7;
  cursor: pointer;
}

.btn:before,
.btn:after {
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: transform 200ms ease
}

.shopping-basket__button:before {
  transform: rotate(45deg);
  top: 9px;
}

.shopping-basket__button:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__caption {
  font-family: var(--font-family-cookie);
  color: var(--dark-brown-color);
  font-weight: 400;
  font-size: 160px;
  margin-bottom: 20px;
  width: 727px;
  word-wrap: break-word;
}

.header__subtitle {
  font-size: 26px;
  color: var(--dark-brown-color);
  max-width: 420px;
  margin-bottom: 35px;
}

.button__link {
  text-decoration: none;
  border: 2px solid var(--light-brown-color);
  background-color: var(--light-brown-color);
  padding: 9px 37px;
  border-radius: 40px;
}

.button__link:active {
  background-color: var(--light-brown-color);
  opacity: 0.8;
}

.button__link:hover:hover {
  background-color: #fff;
}

.header-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.block {
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
}

.bakery__title, h2 {
  font-family: var(--font-family-cookie);
  color: var(--light-brown-color);
  font-size: 120px;
  text-align: center;
}

.info__title, h3 {
  color: var(--light-brown-color);
  font-size: 50px;
  margin-bottom: 43px;
}

.info__subtitle, h4 {
  color: var(--dark-brown-color);
  font-size: 26px;
  margin-bottom: 12px;
}

.block h4 {
  white-space: nowrap;
}

.info__description {
  margin-bottom: 32px;
  max-width: 302px;
}

.info__purchase {
  display: flex;
  position: relative;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.info__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream-color);
  border-radius: 50%;
  padding: 43px 12px;
  width: 86px;
}

.info__price p {
  font-weight: 700;
}

.info__icon {
  width: 70px;
  height: 70px;
  position: relative;
  transition: transform 0.4s;
  cursor: pointer;
}

.info__icon-check {
  display: block;
  opacity: 0 ;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 198px;
  top: -28px;
  transition: all 0.3s ease-in-out;
}

.none {
  display: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 30px;
}

.breadcrumbs__element {
  padding: 13px;
}

.breadcrumbs__control {
  background-color: #fff;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 16px;
  height: 16px;
}

.breadcrumbs__img--cookies {
  max-width: 700px;
  max-height: 514px;
}

.breadcrumbs__img--cakes {
  width: 741px;
  height: 482px;
}

.breadcrumbs__img--croissants {
  width: 662px;
  height: 535px;
}

.breadcrumbs__img--cupcakes {
  width: 675px;
  height: 482px;
}

.button-onShops {
  display: flex;
  justify-content: center;
  margin-top: 168px;
}

.bakershops {
  margin-top: 87px;
  background-color: var(--cream-color);
}

.bakershops__title {
  padding-top: 40px;
  margin-bottom: 100px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 32px;
}

.search-box__select {
  position: relative;
}

.search-box__item {
  font-family: 'Rubik';
  font-weight: 500;
  transition: 1.5s;
  background-color: #E39A3B;
  border: 4px;
}

.search-box__list {
  border: 3px;
  outline: none;
}

.search-box__select select {
  display: block;
  width: 173px; /* от ширины блока div */
  padding: .75rem 5.5rem .75rem 1rem;/* отступы от текста до рамки */
  background: none; /* убираем фон */
  border: 0px solid #ccc; /* рамка */
  border-bottom: 1px solid #412D22;;
  -webkit-appearance: none;/* Chrome */
  -moz-appearance: none;/* Firefox */
  appearance: none;/* убираем дефолнтные стрелочки */
  font-family: inherit;/* наследует от родителя */
  font-size: 1rem;
  color: var(--dark-brown-color);
  opacity: 0.5;
}

.search-box__select:after {
  content: url('../img/Vector.png');
  display: block;
  border-width: 6px 5px 0 5px;
  border-color: transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 15%;
  right: 1rem;
  z-index: 1;
  margin-top: -0px;
}

.map-ukr {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.map-ukr__img {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 57px;
  box-sizing: border-box;
  border: 0px;
}

.map-ukr__num {
  width: 731px;
  height: 431x;
  position: absolute;
  left: 6.4%;
  top: 14%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* About */

.about-us {
  padding-top: 54px;
  margin-bottom: 135px;
}

.about-us__subtitle {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.facts {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: auto;
}

.facts__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.facts__img {
  margin-bottom: 12px;
}

.facts__count {
  margin-bottom: 7px;
  font-weight: 300;
  font-size: 60px;
}

.facts__text {
  font-weight: 400;
}

.google-map {
  overflow: hidden;
  position: relative;
  height: 0;
  width: 62%;
  height: 507px;
}

.google-map__element {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Contacts */

.location {
  display: flex;
  margin-bottom: 135px;
}

.contacts-info {
  margin-top: 135px;
  margin-bottom: 135px;
}

.contacts-info__title {
  margin-bottom: 26px;
}

.contact {
  width: 100%;
  width: 430px;
  height: 507px;
  text-align: center;
}

.contact__title {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 35px;
}

.block-of-contacts {
  display: flex;
  text-align: left;
  gap: 37px;
  justify-content: center;
  padding-bottom: 40px;
}

.wrapper__element {
  margin-bottom: 9px;
}

.block-of-contacts__img {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.block-of-contacts__gps {
  width: 14px;
  height: 20px;
}

.block-of-contacts__tel {
  width: 18px;
  height: 18px;
}

.block-of-contacts__mail {
  width: 18px;
  height: 11px;
}

.wrapper__title {
  font-weight: 900;
}

.wrapper__description {
  padding-top: 9px;
}

.contact {
  background-color: var(--light-brown-color);
}

.contact:last-child {
  padding-bottom: 124px;
}

/* Feedback */

.feedback {
  display: flex;
  justify-content: space-around;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__title {
  margin-bottom: 26px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__field {
  border: none;
  border-bottom: 1px solid var(--dark-brown-color);
  opacity: 0.5;
  outline: none;
  border-radius: 6px;
}

.form input {
  font-size: 16px;
  padding: 4px;
  color: var(--dark-brown-color);
}

.form__field:hover {
  background-color: rgb(214,214,214);
  transition: 0.2s;
}

.form__field:nth-child(4) {
  margin-top: 95px;
}

.form__button:nth-of-type(1) {
  margin-top: 25px;
  width: 160px;
}

/* Footer */

.footer {
  background-color: var(--dark-brown-color);
  width: 100%;
}

.content-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-info__links {
  display: flex;
  gap: 34px;
}

.content-info__links a {
  color: #fff;
  text-decoration: none;
  font-family: 'Rubik';
}

.content-info__links a:hover {
  color: var(--light-brown-color);
}

.content-info__massangers {
  display: flex;
  gap: 25px;
}

.content-info__massangers img:hover {
  color: var(--light-brown-color);
  fill: var(--light-brown-color);
}

.credits {
  display: flex;
  justify-content: center;
  gap: 29px;
  padding-bottom: 18px;
}

.credits__text {
  color: #fff;
  font-size: 12px;
  opacity: 70%;
}

/* Button-to-top */

.scroll-to-top {
  opacity: 0;
  transition: all 0.4s;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #d17600;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform .2s;
  border: none;
}

.scroll-to-top:hover {
  border: none;
  transform: scale(1.3);
  opacity: 0.9;
}

.scroll-to-top:active {
  border: none;
}

.scroll-to-top:active {
  border: none;
}

.scroll-to-top__fa-angle-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 3px;
  margin: 20px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: relative;
}

.fa-angle-up:active {
  color: none;
  text-decoration: none;
}

.scroll-to-top__finger-area {
  display: none;
  padding: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.show {
  display: block;
  opacity: 1;
}

.showme {
  transform: translate(0,21px);
  opacity: 1;
}

.back-dark {
  display: block;
}

.lock {
  overflow: hidden;
}

/* Adaptive */

/* 1200-992 */
@media screen and (max-width: 1200px) {
  .container {
    transition: ease all 0.5s;
  }

  .header {
    width: 100%;
  }

  .breadcrumbs__img--cakes {
    width: 650px;
  }

  .facts {
    gap: 25px;
  }
}

/* 992-768 */
@media screen and (max-width: 992px) {
  .container {
    transition: ease all .5s;
  }

  .block {
    flex-direction: column;
    margin-top: 40px;
  }

  .breadcrumbs__img {
    width: 70%;
    height: 70%
  }

  .info {
    order: -1;
  }

  .breadcrumbs {
    display: flex;
    justify-content: space-around;
  }

  .button-onShops {
    margin-top: 80px;
  }

  .google-map__element{
    width: 100%;
  }

  .info__description {
    max-width: 100%;
  }

  .feedback {
    flex-direction: column;
  }

  .feedback-form {
    order: -1;
  }

  .feedback-form__title {
    text-align: center;
    margin-bottom: 36px;
  }

  .form__button {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

/* 768-576 */
@media screen and (max-width: 768px) {
  .container {
    transition: ease all 0.5s;
  }

  .location {
    display: block;
  }

  .header-menu__nav-desktop {
    display: none;
  }

  .header-menu__nav-mobile {
    display: block;
  }

  .header-menu__main-logo {
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
  }

  .location {
    height: auto;
  }

  .header__caption {
    font-size: 100px;
    max-width: 257px;
    line-height: 80%;
  }

  .header-menu__button {
    display: block;
    position: fixed;
    top: 60px;
    right: 25px;
    margin-left: auto;
    width: 30px;
    height: 20px;
    z-index: 11;
    cursor: pointer;
  }

  .header-menu__lines {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s ease 0s;
  }

  .header-menu__button:before,
  .header-menu__button:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: transform 200ms ease
  }

  .header-menu__button:after {
    bottom: 0;
  }

  .header-menu__button:before {
    top: 0;
  }

  .header-menu__button.active:before {
    transform:rotate(45deg);
    top: 9px;
  }

  .header-menu__button.active:after {
    transform:rotate(-45deg);
    bottom: 9px;
    z-index: 9;
  }

  .header-menu__button.active .header-menu__lines {
    transform: scale(0);
  }

  .header-menu__basket-icon {
    display: block;
    position: fixed;
    top: 115px;
    right: 25px;
    margin-left: auto;
    width: 30px;
    height: 20px;
    z-index: 7;
  }

  .header-menu__nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 180px 100px 100px;
    padding-top: 180px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 400ms, opacity 400ms;
    opacity: 0;
    z-index: 10;
    background-color: var(--light-brown-color);
  }

  .header-menu__nav.active {
    opacity: 1;
    position: fixed;
    padding: 100px;
    padding-top: 180px;
    height: 100%;
    right: 0px;
    top: 0px;
    transform: translateX(0);
    background-color: var(--light-brown-color);
    transform: 400ms;
    transition: transform 400ms, opacity 400ms;
  }

  .header-menu__nav a:hover {
    color: #fff;
  }

  .header-menu__list {
    flex-direction: column;
    max-width: 250px;
  }

  /* Shopping Bag */

  .info__icon {
    width: 50px;
    height: 50px;
  }

  .info__icon-check {
    width: 30px;
    height: 30px;
    left: 180px;
    top: -10px;
  }

  .contacts-info__contact-list {
    width: 100%;
  }

  .google-map {
    height: 500px;
    width: 100%;
  }

  .content-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }

  .content-info__logo {
    margin-left: 16px;
  }

  .content-info__links {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-left: 47px;
  }

  .content-info__massangers {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .content-info {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .container {
    transition: ease all .5s;
  }

  .search-box {
    flex-direction: column;
  }

  .search-box__select select {
    width: 100%;
  }

  .button--search {
    margin: 0 auto;
  }

  .google-map {
    height: 500px;
  }

  .block-of-contacts {
    gap: 20px;
  }

  .bakershops__title {
    font-size: 80px;
  }

  .contacts-info__title {
    font-size: 80px;
  }

  .scroll-to-top {
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
  }

  .shopping-basket {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    border: none;
  }

  .shopping-basket .info__purchase {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .shopping-basket__content {
    height: 63vh;
    overflow: auto;
  }

  .shopping-basket__content .info__price {
    padding: 35px 6px 36px 6px;
  }

  .shopping-basket__content .block .breadcrumbs {
    display: flex;
  }

  #total-price-val {
    position: absolute;
    right: 90px;
  }

}

@media screen and (max-width: 400px) {
  .feedback__mail-photo {
    height: 245px;
  }
}